 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 20;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        form {
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            position: relative;
        }

        h2 {
            margin-top: 0;
            color: #4CAF50; /* Green */
            text-align: center;
        }

        .inputBox {
            margin-bottom: 15px;
        }

        .inputBox input {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #4CAF50;
            border-radius: 4px;
        }

        #tryNowButton {
            background-color: #4CAF50; /* Green */
            color: white;
            border: none;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        #tryNowButton:hover {
            background-color: #45a049; /* Darker green */
        }

        #result {
            margin-top: 20px;
            text-align: center;
            color: #333; /* Black text for regular results */
        }

        .result.success {
            color: #4CAF50; /* Green for successful results */
        }

        .result.error {
            color: #f00; /* Red for errors */
        }

        .spinner {
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 8px solid #4CAF50; /* Green */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .spinner.hidden {
            display: none;
        }
